/* the universal selector  = 0*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ////////////header/////////////// */
.header{
    width: 100%;
    height: 55px;
    background-color: #333;
    padding-top: 14px;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .9;
    z-index: 1;
}
.logo{
    height: 30px;
    float: left;
    margin-left: 120px;
}
.header-text{
    float: right;
    list-style: none;
    margin-right:110px;
}
.header-text li{
    display: inline;
    margin: 0 20px;
}
.header-text li a{
    color: #cdaa7c;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
.header-text li a:hover{
    border-bottom: 2px solid #cdaa7c;
}
/* /////////home-section////////////////// */
.home-section{
    height: 100vh;
    width: 100%;
    background-image: url(../images/home-back.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 80px;
}
.home-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(39, 45, 66, 0.3);
    position: absolute;
}
.home-text{
    width: 50%;
    height: 190px;
    color: #fff;
    text-align: center;
/* hero img */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home-text h3{
    font-size: 27px;
    letter-spacing: 2px;
    color: #cdaa7c;
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.home-text h1{
    font-size: 60px;
    word-spacing: 3px;
    margin-bottom:6px;
}
.line{
    width: 165px;
    height: 5px;
    background-color: #cdaa7c;
    margin: auto;
    margin-bottom: 20px;
}
.home-text p{
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.btn{
    width: 150px;
    height: 45px;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    background-color: #cdaa7c;
    color: #fff;
    border: none;
    border-radius:6px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
}
/* /////////welcome-section/////////////// */
.welcome-section{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 80px;
}
.welcome-title{
    margin-bottom: 10px;
    font-size: 35px;
    letter-spacing: 1.5px;
}
.welcome-text{
    background-color: #333;
    color: #cdaa7c;
    width: 280px;
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 20px;
}
.welcome-text:hover,.menu-text:hover,.Offers-text:hover,.chefs-text:hover{
    background-color: #cdaa7c;
    color: #333;
}
.welcome-container{
    width: 85%;
    margin:35px auto 20px auto;
}
.welcome-boxs{
    height: auto;
    overflow: hidden;
}
.welcome-info{
    width: 32%;
    background-color: #333;
    float: left;
    border-radius: 10px;
    padding-bottom:16px;
    outline: 2px solid #cdaa7c;
    outline-offset: -14px;
    position: relative;
}
.welcome-info:after{
    content: " ";
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    width: 0%;
    height:0;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 2s;
}
.welcome-info:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.8; 
    border-radius: 10px;
}
.welcome-middle{
    margin: 0 2%;
}
.welcome-img{
    width: 100%;
    height: 20rem;
    border-radius: 10px 10px 0px 0px;
}
.welcome-content{
    width: 95%;
    margin: auto;
    padding: 15px 0;
}
.welcome-content h2{
    color: #cdaa7c;
    font-size: 28px;
}
.welcome-content h2 .fa-solid{
    margin-right: 8px;
}
.welcome-content p{
    color: #fff;
    margin:18px ;
}
.link{
    color: #cdaa7c;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    z-index: 1;
}
.link:hover{
    letter-spacing: 2px;
    border-bottom: 1px solid #cdaa7c;
}
/* /////////Philosophy-section/////////// */
.Philosophy-section{
    width: 100%;
    margin-bottom: 80px;
}
.philosophy-img{
    background-image: url(../images/phio-back.jpg);
    background-position: 50%;
    background-size: cover;
    min-height: 320px;
    background-attachment: fixed;
    position: relative;
}
.philosophy-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}
.philosophy-content{
    width: 74%;
    margin: auto;
    text-align: center;
    padding-top: 65px;
}
.philosophy-content h2{
    color: #cdaa7c;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 16px;
}
.philosophy-content p{
    color: #DADDBE;
    font-size: 20px;
}
.food-icons{
    width: 80%;
    margin: auto;
    margin-top:20px;
    overflow: hidden;
}
.world-food{
    float: left;
    margin: 0 20px;
    width: 20%;
    padding: 10px;
}
.world-food .fa-solid{
    color: #cdaa7c;
    font-size: 25px;
}
.world-food h3{
    font-size: 20px;
    margin-top: 15px;
    color: #DADDBE;
    text-transform: capitalize;
}
/* ///////////menu-section/////////// */
.menu-section{
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
}
.menu-title{
    font-size: 45px;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.menu-text{
    background-color: #333;
    color: #cdaa7c;
    width: 380px;
    margin: 25px auto;
    padding: 5px 10px;
    border-radius: 5px;
}
.menu-container{
    width: 90%;
    margin: auto;
    background-color: #cdaa7c2c;
    border-radius: 20px;
    padding: 15px 50px;
}
.menu-boxs{
    width: 100%;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
}
.menu-info{
    width: 30%;
    float: left;
    background-color: #cdaa7c;
    border-radius: 10px;
    position: relative;
}
.menu-boxs:hover .menu-info{
    visibility: visible;
    opacity: 1;
}
.menu-middle{
    margin: 0 5%;
}
.menu-img{
    width: 380px;
    height: 320px;
    border-radius:10px;
}
.menu-content{
    padding-top: 100px;
    border-radius: 10px;
    background-color: #333333c1;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
.menu-info:hover .menu-content{
    visibility: visible;
    opacity: 1;
}
.menu-content h2{
    font-size: 30px;
    letter-spacing: 1px;
    color: #cdaa7c;
    margin-bottom:10px;
    text-transform: capitalize;
}
.menu-content p{
    font-size: 20px;
    word-spacing: 1px;
    color: #DADDBE;
    margin-bottom: 10px;
}
.menu-content a{
    color: #cdaa7c;
    font-size: 25px;
}
.menu-content a i{
    margin-right: 10px;
}
/* //////////Offers-Section////// */
.Offers-Section{
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
    padding: 20px 0;
    height: 100vh;
    background-image: url(../images/wwww.jpg);
}
.Offers-title{
    font-size: 45px;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.Offers-text{
    background-color: #333;
    color: #cdaa7c;
    width: 320px;
    margin: 25px auto;
    padding: 5px 10px;
    border-radius: 5px;
}
.Offers-container{
    width: 80%;
    margin: auto;
}
.Offers-boxs{
    height: auto;
    padding: 20px 0;
    overflow: hidden;
    padding: 20px 0;
}
.Offers-info{
    float: left;
    width: 30%;
    border: 3px solid #cdaa7c;
    height:180px;
    border-radius: 5px 18px 5px 18px;
    margin-bottom: 45px;
    padding: 20px;
    position: relative;
}
.offer-middle{
    margin: 0 5%;
}
.Offers-info::after{
    content: " ";
    background-color: #A27B5C;
    position: absolute;
    width: 0%;
    height:0;
    top: 0;
    left: 0;
    opacity: 1;
    transition:1s;
}
.Offers-info:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5; 
    border-radius: 4px 17px 4px 17px;
}
.offers-info i{
    float: left;
    padding-top: 9px;
    padding-left: 10px;
    color: #cdaa7c;
    font-size: 25px;
}
.offer-text{
    float: left;
    text-align: start;
    margin: 0 20px;
    width: 200px;
}
.offer-text h2{
    font-size: 28px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.offer-text p{
    font-size: 16px;
    word-spacing: 1px;
    width:220px;
    padding-left: 10px;
}
/* ///////Store-Section///////////// */
.Store-Section{
    width: 100%;
    height: 90vh;
    margin-bottom: 80px;
    background-color:rgba(240, 248, 255, 0.384);
    padding: 20px;
    position: relative;
}
.store-container{
    width: 85%;
    margin: auto;
}
.store-text{
    background-color: #fff;
    width: 45%;
    height: 500px;
    float: left;
    margin-top: 25px;
    outline: 2px solid #cdaa7c;
    outline-offset: -14px;
    position: absolute;
    border-radius: 3px;    
}
.store-info{
    margin:40px 30px;
}
.store-info h1{
    font-size: 35px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 10px;
    word-spacing: 2px;
}
.thinline{
    width: 120px;
    height: 2px;
    background-color: #cdaa7c;
    margin-left:40px ;
    margin-bottom: 7px;
}
.store-info h4{
    margin: 20px 40px;
    line-height:20px;
    letter-spacing: 1px;
}
.store-info p{
    margin: 26px 40px;
    font-size: 16px;
    letter-spacing: 1px;

}
.store-info p i{
    color: #cdaa7c;
    margin-right: 10px;
}
.store-info a{
    float: right;
    margin-right: 30px;
    font-size: 20px;
    margin-top: 10px;
}
.store-image{
    width: 55%;
    float: right;
}
.store-image img{
    width: 650px;
    height: 550px;
    border-radius:2px;
    margin-bottom: 10px;

}
.circle{
    width:100px;
    margin: auto;
    text-decoration: none;
}
.circle li{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #cdaa7c;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.circle .focus{
    background-color: #333;
}
.circle li:hover{
    background-color: #333;
}
/* ////////location-section/////// */
.location-section{
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
    padding: 20px;
}
.location-title{
    font-size: 35px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    margin-bottom: 10px;
}
.location-container{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.location-boxs{
    overflow: hidden;
}
.location-info{
    width: 30%;
    height: 520px;
    border: 3px solid #cdaa7c;
    float: left;
    padding: 12px 0;
    position: relative;
}
.location-info::after{
    content: " ";
    background-color: #A27B5C;
    position: absolute;
    width: 100%;
    height:0;
    top: 0;
    left: 0;
    opacity: 1;
    transition:1s;
}
.location-info:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5; 
}
.location-middle{
    margin: 0 5%;
}
.location-circle{
    width: 90px;
    height: 90px;
    border: 3px solid #cdaa7c;
    background-color: #cdaa7c;
    color: #fff;
    border-radius: 45px;
    margin:10px auto;
}
.location-circle h4{
    margin-top: 25px;
    font-size: 20px;
    text-transform: capitalize;
}
.location-circle h4 span{
    display: block;
}
.location-circle:hover{
    background-color: #fff;
    color: #333;
}
.location-img{
    width: 95%;
    margin: 10px 0;
    height: 200px;
    border-radius: 5px;
}
.location-info h2{
    font-size:25px ;
    letter-spacing: 1px;
    padding: 10px 0;
}
.location-info p{
    font-size: 17px;
    text-align: start;
    width:75%;
    margin:0px auto 10px auto;
}
.location-info p span{
    color: #cdaa7c;
    font-size: 17px;
    font-weight: 800;
}
.location-info a{
    color: #cdaa7c;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1px;
}
.location-info a:hover{
    text-decoration: underline;
    letter-spacing: 2px;
}
/* /////////Reservations-Section////// */
.Reservations-Section{
    width: 100%;
    margin-bottom: 80px;
}
.Reservations-img{
    background-image: url(../images/rev-back.jpeg);
    background-position: 50%;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
    position: relative;
}
.Reservations-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
}
.Reservations-content{
    width: 25%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
}
.Reservations-content h3{
    font-size: 40px;
    color: #f9f6e7;
    font-weight: 800;
}
.Reservations-file{
    background-color: #ffffff7a;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}
.Reservations-file input,select{
    display: block;
    width: 250px;
    padding: 10px;
    margin: 10px auto;
    border: 3px solid #cdaa7c;
    text-transform: capitalize;
    font-size: 15px;
}
.Reservations-file button{
    cursor: pointer;
    background-color: #cdaa7c;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    width: 250px;
    height: 35px;
}
.Reservations-file button:hover{
    background-color: #fff;
    color: #cdaa7c;
}
/* ////////chefs-section//////////// */
.chefs-section{
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
}
.chefs-title{
    margin-bottom: 10px;
    font-size: 35px;
    letter-spacing: 1.5px;
}
.chefs-text{
    background-color: #333;
    color: #cdaa7c;
    width: 280px;
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 20px;
}
.chefs-container{
    width: 80%;
    margin:25px  auto;
    overflow: hidden;
}
.chefs-box{
    width: 30%;
    height: 430px;
    background-color: #333;
    float: left;
    border-radius: 20px;
    outline: 2px solid #cdaa7c;
    outline-offset: -14px;
    position: relative;
}
.chefs-middel{
    margin: 0 5%;
}
.chefs-img{
    width: 100%;
    height:310px;
    border-radius: 20px 20px 0 0;
}
.chefs-info h2{
    width: 200px;
    text-transform: capitalize;
    font-size: 27px;
    margin: 10px auto;
    color: #cdaa7c;
    border-radius: 15px;
    letter-spacing: 1px;
}
.chefs-info p{
    font-size: 16px;
    text-transform: capitalize;
    margin: 15px auto;
    color: #fff;
}
.chefs-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
}
.chefs-overlay a{
    display: block;
    color: #fff;
    background-color: #cdaa7c;
    width: 38px;
    height: 35px;
    margin: 13px 13px 0 auto;
    /* margin: 0 30px 5px auto; */
}
.chefs-overlay a i{
    line-height: 35px;
    font-size: 24px;
}
.chefs-box:hover .chefs-overlay{
    visibility: visible;
    opacity: 1;
}
.chefs-box:after{
    content: " ";
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height:0;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 1s;
}
.chefs-box:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.6; 
    border-radius: 20px;
}
/* /////////review-Section////// */
.review-section{
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
    padding: 30px 0;
}
.review-title{
    margin-bottom: 10px;
    font-size: 40px;
    letter-spacing: 1.5px;
}
.review-container{
    background-color: #cdaa7c2c;
    width: 90%;
    margin:30px auto 0 auto;
    padding: 20px;
    border-radius: 10px;
}
.review-boxs{
    overflow: hidden;
    height: auto;
}
.review-info{
    width: 32%;
    height: 250px;
    background-color: #333;
    color: #fff;
    float: left;
    border-radius: 25px 50px;
    border: 3px solid #cdaa7c;
    text-align: start;
    padding: 35px ;
    position: relative;
}
.review-middle{
    margin: 0 2%;
}
.review-info::after{
    content: " ";
    background-color: #A27B5C;
    position: absolute;
    width: 100%;
    height:0;
    top: 0;
    left: 0;
    opacity: 1;
    transition:1s;
    border-radius: 25px 50px;
}
.review-info:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5; 
}
.review-header{
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}
.review-img{
    width: 100px;
    float: left;
    border-radius: 50px;
}
.review-text{
    float: left;
    margin: 8px 0 0 30px;
}
.review-text h2{
    font-size: 25px;
    letter-spacing: 1px;
}
.review-text i{
    color: #cdaa7c;
    margin-top: 8px;
}
.review-footer{
    margin: 30px 0 0 25px;
}
.review-footer p{
    color: #fff;
    letter-spacing: 1px;
}
/* ///////Footer-Section/////////// */
.Footer-Section{
    width: 100%;
    height: 300px;
    background-color: #333;
    text-align: center;
    padding-top: 30px;
}
.footer-logo{
    width: 220px;
}
.footer-container{
    width: 90%;
    margin:20px auto ;
    height: 150px;
    padding-top: 40px;
    overflow: hidden;
}
.footer-about,.footer-Contact,.footer-social{
    width: 30%;
    float: left;
}
.footer-social{
    margin: 0 5%;
}
.footer-container h2{
    color: #cdaa7c;
    font-size: 30px;
    text-transform: capitalize;
    word-spacing: 1px;
    margin-bottom: 20px;
}
.footer-container p{
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    line-height: 30px;
    text-transform: lowercase;
}
.footer-social a{
    text-decoration: none;
}
.footer-social i{
    font-size: 25px;
    margin: 0 0 0 15px;
    background-color: #fff;
    color:#cdaa7c;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
}
.footer-social i:hover{
    background-color: #cdaa7c;
    color: #fff;
}
.footer-Contact p{
    text-align: start;
    width: 70%;
    margin: auto;
}
.footer-Contact p span{
    text-transform: capitalize;
    color: #cdaa7c;
}